body {
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: 'Basic', sans-serif;
}

h1 {
  font-weight: normal;
  margin: 0;
  margin-left: 1.5vw;
}

h3 {
  margin-bottom: .5vh;
}

h4 {
  font-size: 1.1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline {
  height: 4px;
  background-color:  #E5F1F4;
  margin-bottom: 1.5vh;
  width: 35vw;
}

#main {
  background-color: #E5F1F4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu {
  list-style: none;
  font-size: 5vh;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
  margin-bottom: .3vh;
}

#menu li {
  margin-bottom: 8vh;
}

#menu a:hover {
  color: #9C9C9C;
}

#menu a {
  text-decoration: none;
  color: #404040;
}

#profpic {
  height: 70vh;
  box-shadow: 0px 15px 0px #FFFFFF, 15px 0px 0px #FFFFFF, 15px 15px 0px #FFFFFF;
  margin-bottom: 4vh;
}

#dev, #des, #photog {
  width: 100vw;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  background-color: #E5F1F4;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#bullets {
  margin: 0 5vw;
}

#bullets ul {
  list-style-position: outside;
}

#bullets li {
  color: #737373;
}

#biopic {
  height: 50vh;
  box-shadow: 0px 15px 0px #FFFFFF, 15px 0px 0px #FFFFFF, 15px 15px 0px #FFFFFF;
  margin-bottom: 15px;
}

#bio {
  margin-left: 35px;
  width: 30vw;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1.1vw .6vw;
  transition: .2s ease;
}

.container {
  padding-left: 1vw;
  display: flex;
  align-content: center;
}

.card:hover {
  transform: scale(1.02);
}

.glide1, .glide2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default !important;
}

button {
  margin: .5vw;
  border: none;
  background-color: transparent;
  color: #404040;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Basic', sans-serif;
}

button:hover {
  color: #9C9C9C;
}

button:focus {
  outline: 0;
}

#bio h1 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 7vh;
}

footer i {
  margin-right: 1vw;
}

a {
  text-decoration: none;
  color: #404040;
}

a:hover {
  color: #9C9C9C;
}

#dev a {
  color: #737373;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  width: 35vw;
}

.collapsible:hover {
  cursor: pointer;
}

i.fas.fa-chevron-down {
  display: inline;
  float: right;
}

i.fas.fa-chevron-up {
  display: none;
  float: right;
}

-ms-@viewport {
    width: device-width;
    initial-scale: 1;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1;
    user-zoom: fixed;
}

@viewport {
    width: device-width;
    initial-scale: 1;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1;
    user-zoom: fixed;
}

@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  #main {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  #profpic{
    width: 100%;
    height: auto;
    margin: 0;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  #menu {
    list-style: none;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: auto;
    margin: auto;
  }

  #menu li {
    margin: 2.5vh 0;
  }

  .collapsible, .underline {
    width: 90vw;
    font-size: 4vw;
  }

  #biopic {
    width: 100%;
    height: auto;
  }

  #des, #dev, #about {
    height: auto;
  }

  #des {
    margin-bottom: 0;
  }

  #dev {
    margin-top: 2vh;
  }

  #bio {
    margin: 2vh 0 3vh 0;
    width: 95vw;
  }

  .container h4 {
    font-size: 2.5vw;
  }

  .card {
    margin: 2vh 1vw;
  }

  button {
    padding: 2vw;
    margin: auto;
    font-size: 5vw;
  }

  footer i {
    margin-right: 2vw;
  }
}
