* {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px 40px;
}

#active { 
    border-bottom: solid 1px #000000;
}

#nav, #footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}

#footer {
    font-size: 15px;
    margin: auto;
}

#nav p, #footer p, #nav a, #footer a{
    margin-right: 5px;
    text-decoration: none;
    color: #000000;
}

#nav a:hover, #footer a:hover{
    color: #898989;
}